* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

h1 {
    color: #13183F;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
}

.logo {
    width: 89px;
}

.get-started {
    color: #ffffff;
    background-color: #13183F;
    text-decoration: none;
    border-radius: 1.2em;
    padding: 1rem 1.6rem;
    border-radius: 2rem;

}

.get-started-multi {
    padding: 1rem 2.5rem;
    background: rgb(249, 85, 107);
    background: linear-gradient(0deg, rgba(249, 85, 107, 1) 27%, rgba(241, 44, 165, 1) 89%);
}

#top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.top-words p {
    color: #83869A;
    font-size: 1rem;
    line-height: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.top-words {
    padding: 1rem;
}

.lady {
    width: 100%;
}