* {
    box-sizing: border-box;

}

body {

    width: 100%;


}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

h1 {
    color: #13183F;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
}

.logo {
    width: 89px;
}

.get-started {
    color: #ffffff;
    background-color: #13183F;
    text-decoration: none;
    border-radius: 1.2em;
    padding: 1rem 1.6rem;
    border-radius: 2rem;

}

.get-started-multi {
    padding: 1rem 2.5rem;
    background: rgb(240, 42, 166);
    background: linear-gradient(0deg, rgba(240, 42, 166, 1) 45%, rgba(255, 111, 72, 1) 82%);
}

#top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;

}

.top-words p {
    color: #83869A;
    font-size: 1rem;
    line-height: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.top-words {
    padding: 1rem;
}

.lady {
    width: 100%;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    max-width: 500px;

}

.box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #fff;
    border-radius: 5px;
    padding: 2rem;



}

h2 {
    color: #13183F;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.box-text {
    color: #83869A;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.course-logo {
    width: 56px;
    height: 56px;
    margin-bottom: 1.5rem;
}

.get-started-link {
    color: #F74780;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.check-out {
    background: rgb(240, 42, 166);
    background: linear-gradient(0deg, rgba(240, 42, 166, 1) 45%, rgba(255, 111, 72, 1) 82%);
    color: #ffffff;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7rem;
    border-radius: 1.2rem;


}

footer {
    width: 100%;
    background-color: #13183F;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.get-started-crazy-color {
    background: rgb(240, 42, 166);
    background: linear-gradient(0deg, rgba(240, 42, 166, 1) 34%, rgba(72, 81, 255, 1) 88%);
}



















@media screen and (min-width:768px) {

    header {
        padding: 1rem 3rem;
        max-width: 1000px;
        z-index: 100;
    }

    #footer-items {
        max-width: 1000px;
        padding: 1rem 3rem;
    }

    #top-content {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
        position: relative;
        padding: 2rem;
        padding-bottom: 10rem;
        z-index: 1;
        width: 100%;
    }

    .top-words {
        width: 60%;
        padding-top: 2rem;

    }

    .lady {
        width: 650px;
        position: absolute;
        top: -9rem;
        right: -16rem;



    }

    picture {
        width: 40%;

    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2em;
        margin-bottom: 3em;
        width: 100%;
        padding: 2rem;
        gap: 0.5rem;
        max-width: 1000px;

    }







}

@media screen and (min-width:1300px) {

    h1 {
        font-size: 3.1rem;
        width: 445px;
        line-height: 3.5rem;
    }

    .top-words {
        position: relative;
        top: 4rem;
    }

    .top-words p {
        color: #83869A;
        font-size: 1.2rem;
        padding-right: 7rem;
        margin-bottom: 2.5rem;
        width: 445px;
        padding-right: 0rem;


    }

    .lady {
        width: 991px;
        top: -15rem;
        right: -27rem;
    }

    header {
        max-width: 1110px;
    }

    #footer-items {
        max-width: 1110px;
    }

    #top-content {
        max-width: 1110px;
        padding-bottom: 20rem;
    }


}